!= render(:partial => "tasks/description")

- semantic_form_for(@task, :live_validations => false, :url => task_assignment_path(@task), :method => :put) do |f|
  - f.inputs :name => "Change assignments" do
    != f.input :assignee, :as => :select, :collection => User.all_volunteers
    != f.input :editor, :as => :select, :collection => User.all_editors
  != f.submit "Assign"
  != link_to "back to task", task_path(@task)