%h3= @task.name

%h4
  = textify_state(@task.state)
  - unless @skip_assignment_links
    - when_editor_or_admin do
      != link_to("(change assignments)", edit_task_assignment_path(@task))

- if @task.editor
  %p
    %strong= _("Editor:")
    != link_to h(@task.editor.name), profiles_path(@task.editor)
    != link_to_editors_email(@task)

- if @task.assignee
  %p
    %strong= _("Assignee:")
    != link_to h(@task.assignee.name), profiles_path(@task.assignee)

