%h3
  = @task.name
  %small
    = [textify_kind(@task.kind), textify_difficulty(@task.difficulty), textify_full_nikud(@task)].compact_blanks.join("/")

- when_editor_or_admin do
  - unless @task.children.blank?
    %h4= _("Chained tasks")
    - @task.children.each do |c|
      != link_to(h(c.name), task_path(c))
      %br
  - if @task.parent
    %h4= _("Parent task")
    != link_to(h(@task.parent.name), task_path(@task.parent))

%h4
  = textify_state(@task.state)
  - unless @skip_assignment_links
    %small
      - when_editor_or_admin do
        != link_to("(change assignments)", edit_task_assignment_path(@task))

- if @task.editor
  %p
    %strong= _("Editor:")
    != link_to h(@task.editor.name), profiles_path(@task.editor)
    != link_to_editors_email(@task)

- if @task.assignee
  %p
    %strong= _("Assignee:")
    != link_to h(@task.assignee.name), profiles_path(@task.assignee)

