- f.inputs :name => s_("task section|General") do
  = f.input :name, :label => _("Description"), :required => true, :label => _("Name")
  = f.input :kind, :as => :select, :collection => task_kinds_for_select, :required => true, :label => _("Kind")
  - if current_user.is_admin?
    = link_to _("Manage Kinds"), "#", :id => "manage_kinds"
  = f.input :difficulty, :as => :select, :collection => task_difficulties_for_select, :required => true, :label => _("Difficulty")
  = f.input :full_nikkud, :as => :boolean, :label => _("Full Nikkud")

:javascript
  var index_html = '#{escape_javascript(render(:template => "admin/task_kinds/index"))}';
  $(function(){
    $("#manage_kinds").click(function(){
      $.modal(
        index_html,
        {
          close: true,
          opacity: 80,
          overlayCss: {backgroundColor:"black"},
          containerCss:{
            borderColor:"#fff",
            padding:10,
            width:300
          },
          overlayClose:true
        }
      );
      return false;
    });
  });

