%h4
  = title
  = "(#{tasks.respond_to?(:total_entries) ? tasks.total_entries : tasks.size})"

- if tasks.blank?
  = _("No Tasks found")
- else
  %table.list
    %tr
      %th &nbsp;
      %th= _("Last Updated")
      %th= _("Name")
      %th= _("Kind")
      %th= _("Editor")
      %th= _("Assignee")
      %th= _("State")
      %th= _("Files")
      %th &nbsp;

    != render(:partial => tasks)
- if tasks.respond_to?(:total_entries)
  != will_paginate(tasks)