%h4
  = title
  = "(#{tasks.count})"

- if tasks.blank?
  = _("No Tasks found")
- else
  %table.list
    %tr
      %th &nbsp;
      %th= _("Last Updated")
      %th= _("Name")
      %th= _("Kind")
      %th= _("Editor")
      %th= _("Assignee")
      %th= _("State")
      %th= _("Files")
      %th &nbsp;

    != render(:partial => tasks)