- semantic_form_remote_for(@chained_task ||= @task.clone, :task, :live_validations => false, :url => tasks_path(:id => @task.id), :method => :post, :before => "jQuery('#create_chained').attr('disabled', true).val('#{_("Please wait...")}')") do |f|
  != f.object.errors.on(:base)
  != render(:partial => "tasks/form", :locals => {:f => f})
  != f.submit _("Create"), :id => "create_chained"
  != link_to_function _("cancel"), toggle_chained_js
