%tr
  %td= unassigned_task.id
  %td= unassigned_task.name
  %td= textify_kind(unassigned_task.kind)
  %td= textify_state(unassigned_task.state)
  %td= unassigned_task.documents.count
  %td!= link_to _("Assign"), task_assignment_path(unassigned_task, :assignee_id => @assignee.id), :method => :post
