- set_tab :dashboard, false

!= link_to _("back to dashboard"), dashboard_path

!= render(:partial => "description")

- @task.task_properties.visible_for(current_user).each do |p|
  %p
    %strong= "#{p.property.title}:"
    != property_value(p)

.block
  != render(:partial => "documents", :locals => {:documents => @task.documents})

  != render(:partial => "new_document")

.block
  != render(:partial => "comments/index", :locals => {:comments => @comments})

- if @task.editor?(current_user)
  .block.prominent
    %h4= _("Editor Actions")
    != render(:partial => "editor_events")

- if @task.assignee?(current_user)
  .block.prominent
    %h4= _("Assignee Actions")
    != render(:partial => "assignee_events")


- when_editor_or_admin do
  .block
    != render(:partial => "audits/index")