%tr{:class => cycle("odd", "even"), :id => "task_#{task.id}"}
  %td= task.id
  %td!= link_to h(task.creator.name), user_path(task.creator)
  %td= task.updated_at.to_s(:db)
  %td!= link_to h(task.name), task_path(task)
  %td= task.kind.try(:name)
  %td!= link_to h(task.editor.name), user_path(task.editor) if task.editor
  %td!= link_to h(task.assignee.name), user_path(task.assignee) if task.assignee
  %td= Task.textify_state(task.state)
  %td= task.documents_count
  %td!= link_to _("Edit"), edit_admin_task_path(task)
  %td!= link_to _("Assignments"), edit_task_assignment_path(task)
  %td!= link_to _("Delete"), admin_task_path(task), :remote => true, :method => :delete, :confirm => _("Are you sure?")

