- page_title("Tasks Admin")

%h3 All Tasks

!= link_to "New", new_admin_task_path
!= link_to "All", admin_tasks_path
&nbsp;
- Task.aasm_states.collect(&:name).each do |name|
  != link_to textify_state(name.to_s), admin_tasks_path(name => true)
  &nbsp;

%table.list
  %tr
    %th Creater
    %th Last Updated
    %th Name
    %th Kind
    %th Editor
    %th Assignee
    %th State
    %th Files
    %th &nbsp;
    %th &nbsp;
  != render(:partial => @tasks)
!= will_paginate(@tasks)