- set_tab :tasks_admin, _("All Tasks")

!= render(:partial => "search")

!= link_to _("New"), new_admin_task_path

%table.list
  %tr
    %th &nbsp;
    %th= _("Creater")
    %th= _("Last Updated")
    %th= _("Name")
    %th= _("Kind")
    %th= _("Editor")
    %th= _("Assignee")
    %th= _("State")
    %th= _("Files")
    %th &nbsp;
    %th &nbsp;
    %th &nbsp;
  - unless @tasks.blank?
    != render(:partial => @tasks)
!= will_paginate(@tasks)