- f.inputs :name => _("User Settings") do
  != f.input :name, :label => _("Name")
  != f.input :email, :input_html => {:disabled => !f.object.allow_email_change?(current_user && current_user.is_admin?)}, :required => f.object.new_record?, :label => _("Email")
  != f.input :avatar, :as => :file, :label => _("Avatar")
  - when_admin do
    != f.input :is_admin, :label => _("Is Admin")
    != f.input :is_editor, :label => _("Is Editor")
    != f.input :is_volunteer, :label => _("Is Volunteer")

- unless f.object.new_record?
  - f.inputs :name => _("Email Notifications") do
    != f.input :notify_on_comments, :label => _("When a comment added to my task"), :as => :boolean
    != f.input :notify_on_status, :label => _("When my task status changed"), :as => :boolean

  != render(:partial => "users/user_form", :locals => {:f => f})

  - when_user_volunteer do
    != render(:partial => "users/volunteer_form", :locals => {:f => f})
  - when_user_editor do
    != render(:partial => "users/editor_form", :locals => {:f => f})
