- f.inputs :name => "User Settings" do
  != f.input :name
  != f.input :email, :input_html => {:disabled => !f.object.new_record?}, :required => f.object.new_record?

  - when_admin do
    != f.input :is_admin
    != f.input :is_editor
    != f.input :is_volunteer

- unless f.object.new_record?
  != render(:partial => "users/user_form", :locals => {:f => f})

  - when_user_volunteer do
    != render(:partial => "users/volunteer_form", :locals => {:f => f})
  - when_user_editor do
    != render(:partial => "users/editor_form", :locals => {:f => f})
