!= will_paginate(@users)

%table.list
  %tr.title
    %th= _("Name")
    %th= _("Email")
    %th= _("Volunteer")
    %th= _("Editor")
    %th= _("Admin")
    %th= _("Activation email sent")
    %th= _("Activated")
    %th &nbsp;
    %th &nbsp;
  != render :partial => @users

!= will_paginate(@users)