.block
  %h3
    = @user.name
    %small
      = @user.email
      - when_admin do
        != link_to _("edit"), edit_user_path(@user)
  != image_tag(avatar_for(@user, :medium))
  - if @user.avatar? && (current_user == @user || current_user.is_admin?)
    != link_to _("remove avatar"), :url => user_path(@user, :remove_avatar => true), :method => :put, :confirm => _("Are you sure?"), :remote => true
