%h3
  = @user.name
  %small
    = @user.email
    - when_admin do
      != link_to _("edit"), edit_user_path(@user)
!= image_tag(avatar_for(@user))

%p
  %strong= _("Roles")
  = user_roles(@user.public_roles)

%p
  %strong= _("Registered since")
  - if @user.activated_at
    = @user.activated_at.strftime("%Y-%m-%d")
  - else
    = _("Not activated yet")

%p
  %strong= _("Email Notifications")
  = email_notifications(@user)

%h4= _("User Properties")
- @user.user_properties.visible_for(current_user).each do |p|
  %p
    %strong= "#{p.property.title}:"
    != property_value(p)

- when_user_volunteer do
  %h4= _("Volunteer Properties")
  - @user.volunteer_properties.visible_for(current_user).each do |p|
    %p
      %strong= "#{p.property.title}:"
      != property_value(p)

- when_user_editor do
  %h4= _("Editor Properties")
  - @user.editor_properties.visible_for(current_user).each do |p|
    %p
      %strong= "#{p.property.title}:"
      != property_value(p)