%tr{:class => cycle("odd", "even")}
  %td!= link_to(h(user.name), user_path(user))
  %td= user.email
  %td= boolean_property(user.is_volunteer)
  %td= boolean_property(user.is_editor)
  %td= boolean_property(user.is_admin)
  %td= user.activated_at
  - if user.activated_at
    %td.edit!= link_to _("Edit"), edit_user_path(user)
    %td.delete!= link_to _("Disable"), user, :method => "delete", :confirm => _("Are you sure?")
  - else
    %td &nbsp;
    %td &nbsp;