- page_title("Profile")

%h3 Edit Profile

- semantic_form_for(@user, :live_validations => true) do |f|
  = f.object.errors.on(:base)
  != render :partial => "form", :locals => { :f => f }
  %br
  != f.submit "Update"
  != link_to "Cancel", "/"

- when_current_user do
  != link_to "change password", password_edit_path
