- page_title(_("Object Properties"))

%h3= _("Object Properties")

!= link_to _("New"), new_property_path

- unless @properties.blank?
  %table.list
    %tr.title
      %th= _("Parent")
      %th= _("Name")
      %th= _("Type")
      %th &nbsp;
    != render(:partial => @properties)

  != will_paginate(@properties)