- set_tab :object_prefs

!= link_to _("New"), new_property_path

- unless @properties.blank?
  %table.list
    %tr.title
      %th= _("Parent")
      %th= _("Name")
      %th= _("Type")
      %th= _("Public")
      %th= _("Comments")
      %th &nbsp;
    != render(:partial => @properties)

  != will_paginate(@properties)
