- page_title(_("Object Properties"))

%h3= _("New project property")

- semantic_form_for(@property, :live_validations => true) do |f|
  = f.object.errors.on(:base)
  != render :partial => "form", :locals => { :f => f }
  != f.submit _("Save")
  != link_to _("Cancel"), properties_path
