%tr{:class => cycle("odd", "even")}
  %td!= link_to(h(volunteer_request.user.name), user_path(volunteer_request.user))
  %td= "#{time_ago_in_words(volunteer_request.created_at)} ago"
  %td!= link_to h(volunteer_request.reason.utf_snippet(70)), volunteer_request_path(volunteer_request)
  %td!= confirm_button(volunteer_request)
