- set_tab :volunteer_requests

%table.list
  %tr.title
    %th= _("From")
    %th= _("When")
    %th= _("Reason")
    %th &nbsp;
  != render(:partial => @volunteer_requests)

!= will_paginate(@volunteer_requests)