- page_title(_("Volunteer Requests"))

%h3
  = _("Volunteer Request from")
  != link_to h(@volunteer_request.user.name), user_path(@volunteer_request.user)

%p
  = _("Requested at:")
  = @volunteer_request.created_at.to_s(:db)

%h4= _("Reason")
%p= @volunteer_request.reason

%p
  != confirm_button(@volunteer_request)
  != link_to _("Back to Volunteer Requestes"), volunteer_requests_path