%tr[site_notice]{:class => cycle("odd", "even")}
  %td= site_notice.id
  %td!= site_notice.start_displaying_at && site_notice.start_displaying_at.to_s(:isra_date) || "&nbsp;"
  %td!= site_notice.end_displaying_at && site_notice.end_displaying_at.to_s(:isra_date) || "&nbsp;"
  %td!= site_notice.html
  %td!= link_to_remote _("remove"), :url => site_notice_path(site_notice), :method => :delete, :confirm => _("Are you sure?"), :before => "jQuery('##{dom_id(site_notice)}').remove()"
  %td!= link_to _("edit"), edit_site_notice_path(site_notice)