- if !@waiting_volunteers.blank? && !@waiting_volunteers_rednered_once
  - @waiting_volunteers_rednered_once = true
  %h4= _("Volunteers waiting for tasks")
  %table.list
    %tr.title
      %th= _("Name")
      %th= _("Email")
      %th= _("Waits for")
      %th &nbsp;
    - @waiting_volunteers.each do |v|
      %tr{:class => cycle("odd", "even")}
        %td!= link_to(v.name, profiles_path(v))
        %td!= mail_to v.email
        %td!= waiting_for_task(v)
        %td!= link_to_assign_a_task(v)
  :javascript
    jQuery(function(){      
      jQuery('#assign_now').dialog({draggable:false, modal: true, resizable:false, autoOpen: false, width: 800,buttons: {"#{_("Cancel")}": function() { $(this).dialog("close"); } } });
    });
  #assign_now{:title => _("Assign a Task")}
    laksdjf;lkaj dsfljhaslkjfhas