- set_tab :volunteer_kinds

%p
  = link_to _("New"), new_admin_volunteer_kind_path

%table.list
  %tr.title
    %th= _("Name")
    %th= _("Volunteers Count")
    %th &nbsp;
  != render(:partial => @volunteer_kinds)

!= will_paginate(@volunteer_kinds)
