#popup-content
  #simplemodal-container.simplemodal-container
    %p
      = _("Manage Volunteer Kinds")
    #new_kind_msg
    %table.list
      %tr.title
        %th= _("Name")
        %th= _("Volunteers Count")
        %th &nbsp;
      = render(:partial => "admin/volunteer_kinds/volunteer_kind", :collection => VolunteerKind.all)
    #link_to_new_kind
      = link_to _("New"), new_admin_volunteer_kind_path, :remote => true

