- if hebrew_layout?
  != stylesheet_link_tag 'blueprint/plugins/rtl/screen',  :media => "screen, projection"
- else
  != stylesheet_link_tag 'blueprint/screen',  :media => "screen, projection"
!= stylesheet_link_tag 'blueprint/plugins/tabs/screen',  :media => "screen, projection"
!= stylesheet_link_tag 'blueprint/print',  :media => "print"

/[if IE]
  != stylesheet_link_tag 'blueprint/ie',  :media => "screen, projection"

!= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :media => 'all', :cache => "main"

%script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
:javascript
  google.load("jquery", "1.3.2");
  google.load("jqueryui", "1.7.1");

!= javascript_include_tag "jrails", "jquery.validate.min.js", "application", :cache => "main"
