!= stylesheet_link_tag 'blueprint/screen',  :media => "screen, projection"
- if hebrew_layout?
  != stylesheet_link_tag 'blueprint/plugins/rtl/screen',  :media => "screen, projection"

!= stylesheet_link_tag 'blueprint/print',  :media => "print"
!= stylesheet_link_tag 'blueprint/plugins/tabs/screen',  :media => "screen, projection"

!= stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom.css',  :media => "screen, projection"

/[if IE]
  != stylesheet_link_tag 'blueprint/ie',  :media => "screen, projection"

!= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application', :media => 'all', :cache => "main"

!= render(:partial => "layouts/javascripts")
!= javascript_include_tag "jrails", "jquery.validate.min.js", "application", :cache => "main"
