%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    != yield :head
  %body
    .container
      #header.span-24.last
        .span-15
          %h1= _("Ben Yehuda Project")
        .span-9.last
          %p.prepend-5
            - if logged_in?
              =_("Hello")
              != link_to h(current_user.name), edit_user_path(current_user)
              [
              != link_to _("logout"), user_session_path, :method => :delete
              ]
            - else
              != link_to _("login"), login_path
              != link_to _("register"), signup_path
            %br
            - FastGettext.available_locales.each do |locale|
              - if current_locale == locale
                = locale
              - else
                != link_to locale, locale_url_for(locale)
      #tabs.span-24.last
        - render_tabs
        - site_notices
      #content.span-24.last
        #main.span-19.colborder
          != render :partial => 'layouts/flashes'
          != yield
        #sidebar.span-4.last
          %h4= _("Sidebar")
          != yield :sidebar
      #footer.span-24.last
        %h4=_("Footer")
        - if current_user.try(:is_admin?)
          != link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server??!"
